<div class="ct">

<div class="container-fluid " >
  <div class="row" >
    <div class="col-2">
      
    </div>
    <div class="col-8">
      <ul class="nav ct">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">ABOUT US</a>
          <ul class="dropdown">
            <li><a routerLink="/">Laptops</a></li>
            <li><a routerLink="/">Monitors</a></li>
            <li><a routerLink="/">Printers</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
          <ul class="dropdown">
            <li><a routerLink="/registration">User Registration</a></li>
            <li><a routerLink="/adminLogin">Admin Login</a></li>
            <li><a routerLink="/admin_registration">Admin Registration</a></li>
            <li><a routerLink="/">User Registration</a></li>
          </ul>
        </li>
        <li><a routerLink="#">Contacts</a></li>
        <li>
          <a routerLink="/">Services</a>
          <ul class="dropdown">
            <li><a routerLink="/table-booking">Tours & excursions</a></li>
            <li><a routerLink="/">Texi Services & Transfers</a></li>
            <li><a routerLink="/">Air Transfers</a></li>
            <li><a routerLink="/">Self Driving & Car Hire</a></li>
            <li><a routerLink="/">Accomodations & Hotels</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-1">
      <a routerLink="/showCars">  <i class="bi bi-bell"></i></a>
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary" routerLink="/duepaid" > Pay Here</button>
    </div>
    
    <!-- <div >
      <button type="submit" class="btn btn-primary" routerLink="/duepaid" > Pay Here</button>
      
    </div> -->
  </div>
</div>
</div>

