<div class="container my-2">
    <h1 class="text-center fw-bolder text-success">Show And Update Account</h1><br>

    <form (ngSubmit)="delete()">
      <div class="bg-success-subtle p-3 rounded">
        <div class="mb-3">
          <label for="a_number" class="form-label fw-bolder">Account Number</label>
          <input type="text" class="form-control" id="a_number" name="a_number" [(ngModel)]="a_number">
        </div>

        <div class="mb-3">
          <label for="name" class="form-label fw-bolder">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
        </div>

        <div class="mb-3">
          <label for="gender" class="form-label fw-bolder">Gender</label>
          <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="gender">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label fw-bolder">Email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label fw-bolder">Password</label>
          <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label fw-bolder">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone">
        </div>

        <div class="mb-3">
          <label for="balance" class="form-label fw-bolder">Balance</label>
          <input type="text" class="form-control" id="balance" name="balance" [(ngModel)]="balance">
        </div>

      </div>
      <button type="submit"
        class="btn btn-outline-success fw-bolder mt-3 d-block m-auto px-4"><u>Delete</u></button>
    </form>

  </div>
