<!-- <p>selected-cars works!{{allCars | json}}</p>

{{length}}   -->

<!-- ------------------------------------------------------------------------------------------------ -->
<!-- <div class="container-fluid">
<div class="row">
  <app-header></app-header>
</div>
                                                                                                                                                                                                                                                                                                                                                                   </div>

<div class="row">
  
  <div class="col-md-12">
    <div class="container my-4">
      <h3 class="text-center">All selected cars</h3>
      <table class="table stripe">
        <tr>
         
           <th>Serial.no</th>
          <th>Car Image</th>
          <th>Car Name</th>
          <th>Car Number</th>
          <th>Car Color</th>
          <th>Car Seating</th>
          <th>Rent_Per_Day</th>
          <th>Total Days</th>
          
           <td>quantity</td>
          <th style="width: 6rem;">Total</th>
          <th>Activity</th>
        </tr>
        <tr *ngFor="let i of allCars">
          
    <td>{{i.serial_no}}</td>
          <td><img src="{{i.car_image}}" alt="" style="width: 40%;"></td>
          <td>{{i.car_name}}</td>
          <td>{{i.car_number}}</td>
          <td>{{i.car_color}}</td>
          <td>{{i.car_seating}}</td>
         
          <td> {{i.rent_per_day}} </td>
          <td>
            <input type="number" value="{{i.quantity}}"  #days (change)="i.total= days.value" [(ngModel)]="i.quantity">{{total_rent}}
          </td>
            <td> <input type="number" id="days" name="days" [(ngModel)]="days"></td>
           
           <td> {{i.quantity}} </td>
          <td><input type="number" value="{{i.rent_per_day * i.total}}"></td>
           <td style="width: 6rem;" > {{days*i.rent_per_day}} </td>
          days {{days}}
         <td> <button (click)="remove(i)">Remove</button></td>
          
        </tr>
      </table>
      <div>
        <button type="button" class="btn btn-success" (click)="saveCarToDatabase()">Book Here</button>
      </div>
    </div>
  </div>
</div>

<div>
<app-footer></app-footer>
</div> -->

<!-- {{ allCars[0].car_number }} -->


<!-- ----------------------------- -->
<!-- <div class="container">
  <div class="row">
   
  <form (ngSubmit)="add()">
    <div class="mb-3">
      <label for="nid" class="form-label">NID Number</label>
      <input type="number" class="form-control" id="nid" name="nid" [(ngModel)]="nid"/>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text" class="form-control" id="name" name="name" [(ngModel)]="name"/>
    </div>

    <div class="mb-3">
      <label for="m_number" class="form-label">Mobile Number</label>
      <input
        type="text" class="form-control" id="m_number" name="m_number" [(ngModel)]="m_number"/>
    </div>

    <div class="form-group">
      <label for="from" class="form-label">From</label>
      <select class="form-select" id="from" name="from" [(ngModel)]="from">
        <option value="Dhaka">Dhaka</option>
        <option value="Chittagong">Chittagong</option>
        <option value="Cumillah">Cumillah</option>
        <option value="Noakhali">Noakhali</option>
        <option value="Sylhet">Sylhet</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label for="to" class="form-label">To</label>
      <select class="form-select" id="to" name="to" [(ngModel)]="to">
        <option value="Dhaka">Dhaka</option>
        <option value="Chittagong">Chittagong</option>
        <option value="Cumillah">Cumillah</option>
        <option value="Noakhali">Noakhali</option>
        <option value="Sylhet">Sylhet</option>
      </select>
    </div>
  

    <div class="mb-3">
      <label for="car_name" class="form-label">Car Name</label>
      <input
        type="text" class="form-control" id="car_name" name="car_name" [(ngModel)]="car_name"/>
    </div>

    <div class="mb-3">
      <label for="car_number" class="form-label">Car Number</label>
      <input
        type="text" class="form-control" id="car_number" name="car_number" [(ngModel)]="car_number"/>
    </div>

    <div class="mb-3">
      <label for="car_seating" class="form-label">Car Seating</label>
      <input
        type="number" class="form-control" id="car_seating" name="car_seating" [(ngModel)]="car_seating"/>
    </div>

    <div class="mb-3">
      <label for="rent_per_day" class="form-label">Rent Per Day</label>
      <input
        type="number" class="form-control" id="rent_per_day" name="rent_per_day" [(ngModel)]="rent_per_day"/>
    </div>


    <div class="mb-3">
      <label for="total_day" class="form-label">Total Days</label>
      <input
        type="number" class="form-control" id="total_day" name="total_day" (change)="totalAmount()" [(ngModel)]="total_day"/>
    </div>
    

    <div class="mb-3">
      <label for="amount" class="form-label">Total Amount</label>
      <input
        type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount" disabled />
    </div>

    <div class="mb-3">
      <label for="booking_date" class="form-label">Booking Date</label>
      <input
        type="date" class="form-control" id="booking_date" name="booking_date" [(ngModel)]="booking_date"/>
    </div>

    <div class="mb-3">
      <label for="return_date" class="form-label">Return Date</label>
      <input
        type="date" class="form-control" id="return_date" name="return_date" [(ngModel)]="return_date"/>
    </div>

    <div class="mb-3">
      <label for="advance_payment" class="form-label">Advance Payment</label>
      <input
        type="number" class="form-control" id="advance_payment" (keyup)="advanceAmount()" name="advance_payment" [(ngModel)]="advance_payment"/>
    </div>

    <div class="mb-3">
      <label for="due" class="form-label">Due</label>
      <input
        type="number" class="form-control" id="due" name="due" [(ngModel)]="due"/>
    </div>
 

    <button type="submit" class="btn btn-primary">Book Here</button>
  </form>
</div> -->
<div class="container-fluid">
<div class="row">
  <app-header></app-header>
  <h1 style="text-align: center;">Apply For Booking</h1>
</div>
</div>

<div class="container" style="background-color: rgb(249, 242, 234); padding: 15px; border-radius: 5px;">
  <form (ngSubmit)="add()">
  <div class="row ffo">
    <div class="row">
      <div class="col">
        <label for="nid" class="form-label">NID Number</label>
        <input type="number" class="form-control" id="nid" name="nid" [(ngModel)]="nid"/>
  
      </div>
      <div class="col">
        <label for="name" class="form-label">Name</label>
        <input
          type="text" class="form-control" id="name" name="name" [(ngModel)]="name"/>
  
      </div>
      <div class="col">
        <label for="m_number" class="form-label">Mobile Number</label>
        <input
          type="text" class="form-control" id="m_number" name="m_number" [(ngModel)]="m_number"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="from" class="form-label">From</label>
          <select class="form-select" id="from" name="from" [(ngModel)]="from">
            <option value="Dhaka">Dhaka</option>
            <option value="Chittagong">Chittagong</option>
            <option value="Cumillah">Cumillah</option>
            <option value="Noakhali">Noakhali</option>
            <option value="Sylhet">Sylhet</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="to" class="form-label">To</label>
          <select class="form-select" id="to" name="to" [(ngModel)]="to">
            <option value="Dhaka">Dhaka</option>
            <option value="Chittagong">Chittagong</option>
            <option value="Cumillah">Cumillah</option>
            <option value="Noakhali">Noakhali</option>
            <option value="Sylhet">Sylhet</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <label for="car_name" class="form-label">Car Name</label>
        <input
          type="text" class="form-control" id="car_name" name="car_name" [(ngModel)]="car_name"/>
      </div>
      <div class="col">
        <label for="car_number" class="form-label">Car Number</label>
        <input
          type="text" class="form-control" id="car_number" name="car_number" [(ngModel)]="car_number"/>
      </div>
      <div class="col">
        <label for="car_seating" class="form-label">Car Seating</label>
        <input
          type="number" class="form-control" id="car_seating" name="car_seating" [(ngModel)]="car_seating"/>
      </div>
      <div class="col">
        <label for="rent_per_day" class="form-label">Rent Per Day</label>
        <input
          type="number" class="form-control" id="rent_per_day" name="rent_per_day" [(ngModel)]="rent_per_day"/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="total_day" class="form-label">Total Days</label>
        <input
          type="number" class="form-control" id="total_day" name="total_day" (change)="totalAmount()" [(ngModel)]="total_day"/>
      </div>
      
  
      <div class="col">
        <label for="amount" class="form-label">Total Amount</label>
        <input
          type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount" disabled />
      </div>
  
      <div class="col">
        <label for="booking_date" class="form-label">Booking Date</label>
        <input
          type="date" class="form-control" id="booking_date" name="booking_date" [(ngModel)]="booking_date"/>
      </div>
  
      <div class="col">
        <label for="return_date" class="form-label">Return Date</label>
        <input
          type="date" class="form-control" id="return_date" name="return_date" [(ngModel)]="return_date"/>
      </div>
      <div class="row">
        <div class="col">
          <label for="advance_payment" class="form-label">Advance Payment</label>
          <input
            type="number" class="form-control" id="advance_payment" (keyup)="advanceAmount()" name="advance_payment" [(ngModel)]="advance_payment"/>
        </div>
    
        <div class="col">
          <label for="due" class="form-label">Due</label>
          <input
            type="number" class="form-control" id="due" name="due" [(ngModel)]="due"/>
        </div>

      </div>
  


    </div>

    <div style="padding-top: 10px;">
      <button type="submit" class="btn btn-primary" >Book Here</button>
      
    </div> 
    
  </div>
    </form>
</div>





  