<!-- ----------------------------------- navbar ------------------------- -->
<header>
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
    <h1 style="text-align: right;">Admin Panel</h1>
  </div>
  <div class="col-2">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="#">ABOUT US</a>
          <ul class="dropdown">
            <li><a routerLink="/">Laptops</a></li>
            <li><a routerLink="/">Monitors</a></li>
            <li><a routerLink="/">Printers</a></li>
          </ul>
        </li>
        
      </ul>

  </div>
  <div class="col-3">
    <nav class="navbar bg-body-tertiary" >  
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
  </div>
  </div>
</div>
  

</header>
