<app-admin-header></app-admin-header>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="row">
  <div class="col-md-2">
    <app-admin-sidebar></app-admin-sidebar>
  </div>

  <div class="col-md-10">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img
            src="assets\images\089-01.width-1920.jpegquality-60.png"
            class="d-block w-100"
            style="height: 500px; width: 400px"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="assets\images\29573328_1560733370642492_1055896105165622659_n.jpg"
            style="height: 500px; width: 400px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="assets\images\fitted (1).jpg"
            style="height: 500px; width: 400px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="assets\images\fitted (2).jpg"
            style="height: 500px; width: 400px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="assets\images\fitted (3).jpg"
            style="height: 500px; width: 400px"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- ---------------------------------------------------- -->
<!-- <div class="container my-4">
  <br><br>

  <div class="row">
    <div class="col-md-1">

    </div>

    <div class="col-md-10">

      <nav class="navbar shadow-lg container">
        <form class="container justify-content-start ">
          <button class="btn btn-outline-success  my-4 ms-4 btn-lg fw-bolder" type="button"
            routerLink="/showAllUser">Show All User Account</button>

          <button class="btn btn-outline-success  ms-4 btn-lg fw-bolder" type="button" routerLink="/adminAccount">Show
            All Admin Account</button>

          <button class="btn btn-outline-success  btn-lg fw-bolder ms-4" type="button" routerLink="/accountUpdate">User
            Account Update</button>

          <button class="btn btn-outline-success  btn-lg fw-bolder ms-4" type="button">User Account Info</button>

          <button class="btn btn-outline-success  btn-lg fw-bolder ms-4" type="button">Deposit</button>

          <button class="btn btn-outline-success  btn-lg fw-bolder ms-4 " type="button">Account Delete</button>

        </form>
      </nav>

    </div>

    <div class="col-md-1">

    </div>
  </div>
</div> -->
