<div class="container-fluid">
  <h1 class="fw-bolder"><u>Services</u></h1>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/home"><i class="fa-sharp fa-solid fa-house me-2"></i>Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/showCarbookingTable">Show Car booking Table</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/showApprovalTable"> <i class="fa-solid fa-address-card me-2"></i>Show Approval Table</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/showAllCarsTable"> <i class="fa-solid fa-address-card me-2"></i>Show Car Table</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/showAllUser">Show User Account</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/adminAccount">Show Admin Account</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/accountUpdate">User Account Update</a>
    </li>

     <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/update2">User Table delete open Window</a>
    </li>

    

     <li class="nav-item">
      <a class="nav-link fw-bolder">Account Delete</a>
    </li> 

    <br><br>

    <li class="nav-item">
      <a class="nav-link fw-bolder" routerLink="/"><i class="fa-sharp fa-solid fa-right-from-bracket me-2"></i>Log
        out</a>
    </li>

  </ul>

</div>