<app-admin-header></app-admin-header>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="row">
  <div class="col-md-2">
    <app-admin-sidebar></app-admin-sidebar>
  </div>

  <div class="col-md-10">
    <div class="container my-3">
      <div class="row d-flex justify-content-between">
        <!-- ---------- account number search -------------- -->
        <div class="col-md-4 my-5">
          <br><br><br><br>
          <h3 class="text-center fw-bolder d-block">Search An Account</h3><br>
          <form (ngSubmit)="search()">
            <div class="mb-3 bg-warning-subtle p-3 rounded">
              <label for="a_number" class="form-label fw-bolder">Account Number</label>
              <input type="text" class="form-control ps-3" id="a_number" name="a_number" [(ngModel)]="a_number"
                placeholder="enter account number">
            </div>

            <button type="submit"
              class="btn btn-outline-danger  d-block text-center w-50  m-auto fw-bolder mt-2">Search</button>
          </form>
        </div>
        <!-- ---------------------- account show and update --------------------------- -->

        <div class="col-md-6 me-5">
          
        </div>
      </div>
    </div>
  </div>

</div>
